## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd
weather = pd.read_csv('weather-raw.csv')
weather.columns = weather.columns.str.replace("d", "")
display(weather.sample(10))

,i,year,month,element,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
weather = weather.fillna(0)
display(weather.sample(10))
display(weather.dtypes)

,i,year,month,element,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
19,MX17004,2010,11,tmin,0.0,16.3,0.0,12.0,7.9,0.0,...,0.0,0.0,0.0,0.0,12.1,14.2,0.0,0.0,0.0,0.0
16,MX17004,2010,10,tmax,0.0,0.0,0.0,0.0,27.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,31.2,0.0,0.0,0.0
5,MX17004,2010,3,tmin,0.0,0.0,0.0,0.0,14.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,MX17004,2010,5,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33.2,0.0,0.0,0.0,0.0
12,MX17004,2010,7,tmax,0.0,0.0,28.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,MX17004,2010,8,tmin,0.0,0.0,0.0,0.0,15.8,0.0,...,0.0,15.0,0.0,15.6,0.0,0.0,0.0,15.3,0.0,15.4
21,MX17004,2010,12,tmin,13.8,0.0,0.0,0.0,0.0,10.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,MX17004,2010,5,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,18.2,0.0,0.0,0.0,0.0
20,MX17004,2010,12,tmax,29.9,0.0,0.0,0.0,0.0,27.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MX17004,2010,1,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,0.0

i           object
year         int64
month        int64
element     object
1          float64
2          float64
3          float64
4          float64
5          float64
6          float64
7          float64
8          float64
9          float64
10         float64
11         float64
12         float64
13         float64
14         float64
15         float64
16         float64
17         float64
18         float64
19         float64
20         float64
21         float64
22         float64
23         float64
24         float64
25         float64
26         float64
27         float64
28         float64
29         float64
30         float64
31         float64
dtype: object

In [9]:
weather.columns = weather.columns.str.replace("d", "")

weather_melt = weather.melt(id_vars = ['i','year','month','element'],var_name='day')

weather_melt = weather_melt.pivot_table('value', ['i', 'year', 'month', 'day'], 'element').reset_index()

In [10]:
display(weather_melt.head(10))

element        i  year  month day  tmax  tmin
0        MX17004  2010      1   1   0.0   0.0
1        MX17004  2010      1  10   0.0   0.0
2        MX17004  2010      1  11   0.0   0.0
3        MX17004  2010      1  12   0.0   0.0
4        MX17004  2010      1  13   0.0   0.0
5        MX17004  2010      1  14   0.0   0.0
6        MX17004  2010      1  15   0.0   0.0
7        MX17004  2010      1  16   0.0   0.0
8        MX17004  2010      1  17   0.0   0.0
9        MX17004  2010      1  18   0.0   0.0

In [11]:
weather_melt['Datetime'] = weather_melt[['year','month','day']].astype(str).apply('-'.join,1)
#weather_melt['Datetime'] = pd.to_datetime(weather_melt['Datetime'])

In [12]:
display(weather_melt.head(10))

element        i  year  month day  tmax  tmin   Datetime
0        MX17004  2010      1   1   0.0   0.0   2010-1-1
1        MX17004  2010      1  10   0.0   0.0  2010-1-10
2        MX17004  2010      1  11   0.0   0.0  2010-1-11
3        MX17004  2010      1  12   0.0   0.0  2010-1-12
4        MX17004  2010      1  13   0.0   0.0  2010-1-13
5        MX17004  2010      1  14   0.0   0.0  2010-1-14
6        MX17004  2010      1  15   0.0   0.0  2010-1-15
7        MX17004  2010      1  16   0.0   0.0  2010-1-16
8        MX17004  2010      1  17   0.0   0.0  2010-1-17
9        MX17004  2010      1  18   0.0   0.0  2010-1-18